$header-color: #134880;
$body-color: #484a4c;
$font-type: "SourceSansPro";
$image-height: 200px;
$border-radius: 5px;
$border-color: #134880;

@mixin image {
    max-height: $image-height;
    width: auto;
    border-radius: $border-radius;

    margin: 0px 5px 0px 5px;

    animation-duration: 0.4s;
    animation-name: animate-fade;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;

    @keyframes animate-fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;

    border-radius: $border-radius;
    border: 1px solid $border-color;

    &:hover {
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
            center/15000%;
        transition: 0.2s ease-in;
    }

    &:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background-color 0s;
    }
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px 50px;

    &__images {
        width: 70%;
        display: flex;
        flex-direction: column;

        &__top {
            overflow: hidden;
            display: flex;
            justify-content: flex-end;

            max-height: $image-height;
            margin-bottom: 5px;

            margin-left: 5px;

            img {
                @include image();
            }
        }

        &__bottom {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            margin-top: 5px;
            max-height: $image-height;

            &__imagesContainer {
                width: 80%;
                display: flex;
                justify-content: flex-end;
                overflow: hidden;
                margin-left: 5px;

                img {
                    @include image();
                }
            }

            &__buttonContainer {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;

                &__left {
                    @include button();
                }

                &__right {
                    @include button();
                }
            }
        }
    }

    &__text {
        width: 20%;
        display: flex;
        flex-direction: column;
        margin-left: 40px;

        &__title {
            color: $header-color;
            font-size: 32px;
            font-family: $font-type;

            margin-bottom: 20px;
        }

        &__text {
            color: $body-color;
            font-family: $font-type;
        }
    }
}
