@mixin image {
  max-height: $image-height;
  width: auto;
  border-radius: $border-radius;

  margin: 0px 5px 0px 5px;

  animation-duration: 0.4s;
  animation-name: animate-fade;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;

  @keyframes animate-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin button--left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;

  background-image: url("../../assets/SliderArrows/arrow-gray-left.png");
  background-repeat: no-repeat;
  background-position: center;

  border-radius: $border-radius;
  border: 1px solid $border-color-inactive;

  &:hover {
    border-color: $border-color-active;
    background-image: url("../../assets/SliderArrows/arrow-blue-left.png");
    background-repeat: no-repeat;
  }
}

@mixin button--right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;

  background-image: url("../../assets/SliderArrows/arrow-gray-right.png");
  background-repeat: no-repeat;
  background-position: center;

  border-radius: $border-radius;
  border: 1px solid $border-color-inactive;

  &:hover {
    border-color: $border-color-active;
    background-image: url("../../assets/SliderArrows/arrow-blue-right.png");
    background-repeat: no-repeat;
  }
}
