$header-color: #134880;
$body-color: #484a4c;
$font-type: "Source Sans Pro", sans-serif;
$image-height: 200px;
$border-radius: 5px;
$border-color-active: #134880;
$border-color-inactive: #dddddd;
$footer-header-background: #dddddd;
